{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.password) }}
    </div>

    <div class="form-group">
        {{ form_label(form.confirmPassword) }}
        {{ form_widget(form.confirmPassword, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.confirmPassword) }}
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>

    <div class="form -group">
        <p>Already have an account? <a href="{{ path('login') }}">Login here</a></p>
    </div>

    {{ form_end(form) }}
{% endblock %}
