{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="login-container">
        <h1>Login</h1>

        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.login) }}
        {{ form_end(form) }}

        <p>Don't have an account? <a href="{{ path('register') }}">Register here</a>.</p>
    </div>
{% endblock %}
